/* >> General Section << */

:root {
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #6b7280;
  --secondary-background-color: #f5f5f5;
  --main-background-color: #e5e7eb;
  --border-color: #d1d5db;
  --valid-input-border-color: #6EE7B7;
  --invalid-input-border-color: #ef4444;
  --focused-input-border-color: var(--secondary-text-color);
  --button-color: #71717a;
  --button-hover-color: #52525b;
  --button-text-color: var(--secondary-background-color);
  --normal-box-shadow: rgba(0, 0, 0, 0.1);
  --hover-box-shadow: rgba(0, 0, 0, 0.2);
  --pseudo-elements-color:  var(--button-color);
  --anchor-color: #9a8fba;
  --anchor-hover-color: #8ca8c1;
  --anchor-active-color: #b4a7d6;
  --anchor-visited-color: #8fb996;
}

@font-face {
  font-family: "Orbitron";
  src:
    url("../fonts/Orbitron-Bold.woff2") format("woff2"),
    url("../fonts/Orbitron-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src:
    url("../fonts/Norse-Bold.woff2") format("woff2"),
    url("../fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Roboto", system-ui;
  color: var(--primary-text-color);
}

/* >> Side-bar styles <<  */

#image-sidebar {
  background: white url("../assets/odin.png") no-repeat center/cover;
  width: 35%;
  font-family: "Norse", system-ui;
  position: relative;
}

.logo-bar {
  background: black;
  opacity: 26%;
  display: flex;
  height: clamp(60px, 18%, 220px);
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 10.5px 0 0 0;
}

.logo-container {
  width: clamp(2.5rem, 4vw, 100px);
}

.logo-text {
  color: white;
  font-size: clamp(2.5rem, 4.3vw, 100px);
}

/* >> Styles for form section << */

#form-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color)
}

.introductory-text,
.input-section > h1 {
  font-family: "Orbitron", system-ui;
  color: var(--secondary-text-color);
}

.introductory-text {
  display: flex;
  justify-content: center;
  padding: 3.4rem 4rem 2.3rem 4rem;
}

.introductory-text > p {
  max-width: 46ch;
  text-align: center;
  font-size: 1.2rem;
}

.introductory-text > p::before,
.introductory-text > p::after {
  color: var(--pseudo-elements-color);
}

.introductory-text > p::before {
  content: open-quote;
  display: inline-block;
  font-size: 3.5rem;
  margin: 0.5rem;
  line-height: 0;
}

.introductory-text > p::after {
  content: "!!";
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.3rem 0 0 0.4rem;
  line-height: 0;
}

.application-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  background: var(--secondary-background-color);
  padding: 0 0 1.4rem 1.8rem;
  box-shadow: 4px 5px 14px 1.8px var(--normal-box-shadow);
}

h1.Form-title {
  text-align: center;
  font-size: 1.5rem;
  max-width: 50ch;
  margin: 1.4rem 0 1.6rem 0;
}

.widget-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.4rem;
}

.widget-container label,
.widget-container input {
  font-family: "Roboto", system-ui;
  color: var(--primary-text-color);
}

.widget-container  label {
  display: block;
  padding-left: 0.2rem;
}

.widget-container  input {
  padding: 0.26rem 0;
  padding-left: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  box-shadow: 3px 1.4px 6.8px 0 var(--normal-box-shadow);
}

.widget-container input:focus {
  outline: 1.5px solid var(--focused-input-border-color);
  box-shadow: 6.1px 6.8px 14px 0.5px var(--hover-box-shadow);
}

.widget-container input:user-valid {
  border-color: var(--valid-input-border-color);
}

.widget-container input:user-invalid {
  border-color: var(--invalid-input-border-color);
}

.booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(14px, 0.18vw, 30px);
}

.book-ticket-button {
  padding: 0.7rem 3.6rem 0.6rem 3.6rem;
  border-radius: 0.68rem;
  border: 1px solid var(--focused-input-border-color);
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--button-text-color);
  box-shadow: 0 0 10px 7px var(--normal-box-shadow);
}

.book-ticket-button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 5px 8.5px 9px 1px var(--hover-box-shadow);
}

.book-ticket-button:active {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}

.confirm-ticket-notice { margin-top: 1rem; }

.confirm-ticket-notice a:link {
  text-decoration: none;
  color: var(--anchor-color);
}

.confirm-ticket-notice a:visited {
  color: var(--anchor-visited-color);
}

.confirm-ticket-notice a:hover {
  color: var(--anchor-hover-color);
}

.confirm-ticket-notice a:active {
  color: var(--anchor-active-color);
}
