:root {
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #6b7280;
  --main-background-color: #f5f5f5;
  --secondary-background-color: #e5e7eb;
  --border-color: #d1d5db;
  --valid-input-border-color: #9ca3af;
  --invalid-input-border-color: #ef4444;
  --button-color: #71717a;
  --button-hover-color: #52525b;
  --normal-box-shadow: rgba(0, 0, 0, 0.1);
  --hover-box-shadow: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Orbitron";
  src:
    url("../fonts/Orbitron-Bold.woff2") format("woff2"),
    url("../fonts/Orbitron-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src:
    url("../fonts/Norse-Bold.woff2") format("woff2"),
    url("../fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Roboto", system-ui;
}

#image-sidebar {
  background: white url("../assets/odin.png") no-repeat center/cover;
  width: 35%;
  font-family: "Norse", system-ui;
  position: relative;
}

.logo-bar {
  background: black;
  opacity: 26%;
  display: flex;
  height: clamp(60px, 18%, 220px);
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 12px 0 0 0;
}

.logo-container {
  width: clamp(2.5rem, 4vw, 100px);
}

.logo-text {
  color: white;
  font-size: clamp(2.5rem, 4.3vw, 100px);
}

#form-section {
  width: 65%;
}

.introductory-text,
.input-section>h1 {
  font-family: "Orbitron", system-ui;
}
